@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
<h2>Kevin</h2>
<h3>Contact</h3>
<address>
    第一句话<br />
    第二句话<br />
</address>

<address>
    <a href="mailto:596458570@qq.com">点击发送邮件</a><br />
    <a class="f_a" href="http://wpa.qq.com/msgrd?v=3&uin=596458570&site=qq&menu=yes">点击加QQ</a>
</address>